<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.article.dao.ArticleScoreMapper">

    <select id="getSumScoreByUserId" resultType="java.lang.Integer">
        select sum(s.SCORE) score
        from article_info a
                 INNER JOIN article_score s ON s.ARTICLE_ID = a.id
                 left join user u ON u.ID = a.USER_ID
        where u.ID = #{id};
    </select>
    <select id="getScoreSum" resultType="java.lang.Integer">
        select sum(s.SCORE)
        from article_score s
        where s.ARTICLE_ID = #{articleId}
    </select>
</mapper>