<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.article.dao.ArticleinfoMapper">

    <select id="getHots" resultType="com.fuyou.community.article.model.vo.ArticleHotVo">
        select distinct a.*, c.COVER_PATH coverPath, (select sum(s.SCORE) from ARTICLE_SCORE s where s.ARTICLE_ID =
        a.ID) score
        from ARTICLE_INFO a
        inner join ARTICLE_COVER c on c.ARTICLE_ID = a.ID
        left join ARTICLE_SCORE s on s.ARTICLE_ID = a.ID
        ORDER BY score desc
        <if test="start != null and end != null">
            limit #{start},#{end}
        </if>
    </select>
    <select id="list" resultType="com.fuyou.community.article.model.ArticleInfo">
        select u.ID
        userId,info.id,info.ARTICLE_NAME,info.CREATE_TIME,info.CREATE_BY,info.UPDATE_BY,info.UPDATE_TIME,info.ENCLOSURE,info.FLAG
        from ARTICLE_INFO info
        inner join USER u on u.id=info.USER_ID
        <where>
            <if test="pageDto.id != null and pageDto.id !=''">
                and info.ID = #{pageDto.id}
            </if>
            <if test="pageDto.articleName != null and pageDto.articleName != ''">
                and info.ARTICLE_NAME LIKE concat('%',#{pageDto.articleName},'%')
            </if>
            <if test="pageDto.userId != null and pageDto.userId != ''">
                and u.USER_NAME LIKE concat('%',#{pageDto.userId},'%')
            </if>
            <if test="pageDto.enclosure != null and pageDto.enclosure != ''">
                and info.ENCLOSURE = #{pageDto.enclosure}
            </if>
        </where>
    </select>
    <select id="miniList" resultType="com.fuyou.community.article.model.vo.ArticleMiniVo">
        select i.ID, i.ARTICLE_NAME, i.CREATE_TIME, i.ARTICLE_CONTENT, r.READ_COUNT
        from ARTICLE_INFO i
                 left join ARTICLE_READ r on r.ARTICLE_ID = i.ID
        where i.USER_ID = #{pageDto.userId} and (flag = 0 or flag = 5);
    </select>
</mapper>