<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.article.dao.SensitiveWordsMapper">

    <select id="getWords" resultType="com.fuyou.community.article.model.SensitiveWords">
        select ID,WORD,CATEGORY from sensitive_words sw where #{sourceStr} like concat('%',sw.WORD,'%')
    </select>
</mapper>