<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.team.dao.TeamUserRelMapper">

    <select id="getMyTeam" resultType="com.fuyou.community.team.model.vo.UserTeam">
        select rel.ID                                                        rel_id,
               t.id                                                          team_id,
               t.NAME,
               t.DESCR,
               t.NUM,
               t.END_TIME,
               t.ONLINE,
               t.CREATE_BY,
               (select count(*) from team_user_rel r where r.TEAM_ID = t.id and r.FLAG = '0') en_num
        from team_info t
                 left join team_user_rel rel on rel.TEAM_ID = t.ID
                 left join user u on u.USER_NAME = t.CREATE_BY
        where (rel.USER_ID = #{userId} or u.ID = #{userId}) and (rel.FLAG = '0' or rel.FLAG IS NULL)
    </select>
    <select id="getTeamer" resultType="com.fuyou.community.team.model.TeamUserRel">
        select rel.*, user.USER_NAME name
        from team_user_rel rel
                 left join user on user.id = rel.USER_ID
        where rel.TEAM_ID = #{teamId}
    </select>
</mapper>