<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.role.dao.RoleInfoMapper">

    <resultMap id="BaseResultMap" type="com.fuyou.community.role.model.RoleInfo">
        <result property="roleId" column="ROLE_ID" jdbcType="VARCHAR"/>
        <result property="roleName" column="ROLE_NAME" jdbcType="VARCHAR"/>
        <result property="flag" column="FLAG" jdbcType="VARCHAR"/>
        <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="VARCHAR"/>
        <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ROLE_ID
        ,ROLE_NAME,FLAG,
        CREATE_BY,CREATE_TIME,UPDATE_BY,
        UPDATE_TIME
    </sql>
    <insert id="addRoleMenu">
        insert into role_menu_rel(MENU_ID,ROLE_ID) values
        <foreach collection="menuIds" item="menuId" separator=",">
                                                           (#{menuId},#{roleId})
        </foreach>
    </insert>
    <insert id="addRel">
        insert into user_role_rel(USER_ID,ROLE_ID,FLAG) value(#{userId},#{roleId},'0')
    </insert>
    <insert id="beAdmin">
        insert into user_role_rel(USER_ID,ROLE_ID) value(#{userId},'test')
    </insert>
    <delete id="delRel">
        delete
        from role_menu_rel
        where ROLE_ID = #{roleId}
    </delete>
    <delete id="delUserRoleRel">
        delete from user_role_rel where USER_ID=#{userId} and ROLE_ID != 'f695ab4049294c818ab806a1ffa0af93'
    </delete>
    <select id="getRoleList" resultType="com.fuyou.community.role.model.RoleInfo">
        select info.* from ROLE_INFO info LEFT JOIN USER_ROLE_REL rel ON rel.ROLE_ID = info.ROLE_ID
        WHERE info.FLAG='0'
        <if test="userId != null and userId !=''">
            AND rel.USER_ID = #{userId} AND rel.FLAG = '0'
        </if>
    </select>
    <select id="roleMenu" resultType="com.fuyou.community.menu.model.MenuInfo">
        select *
        from menu_info m
                 left join role_menu_rel r on r.MENU_ID = m.ID
        where r.ROLE_ID = #{roleId}
    </select>
    <select id="existed" resultType="java.lang.Integer">
        select 1 from user_role_rel where USER_ID=#{userId} and ROLE_ID!='f695ab4049294c818ab806a1ffa0af93'
    </select>
</mapper>
