<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.collect.dao.CollectMapper">

    <resultMap id="BaseResultMap" type="com.fuyou.community.collect.model.Collect">
            <id property="id" column="ID" jdbcType="VARCHAR"/>
            <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
            <result property="relId" column="REL_ID" jdbcType="VARCHAR"/>
            <result property="bizType" column="BIZ_TYPE" jdbcType="VARCHAR"/>
            <result property="flag" column="FLAG" jdbcType="VARCHAR"/>
            <result property="createBy" column="CREATE_BY" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="VARCHAR"/>
            <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,USER_ID,REL_ID,
        BIZ_TYPE,FLAG,CREATE_BY,
        CREATE_TIME,UPDATE_BY,UPDATE_TIME
    </sql>
    <select id="myCollect" resultType="com.fuyou.community.article.model.vo.ArticleMiniVo">
        select i.ID, i.ARTICLE_NAME, i.CREATE_TIME, i.ARTICLE_CONTENT, r.READ_COUNT
        from ARTICLE_INFO i
        left join ARTICLE_READ r on r.ARTICLE_ID = i.ID
        left join collect c on c.REL_ID = i.ID
        <where>
            <if test="article.queryParam.userId != null and article.queryParam.userId != ''">
                and c.USER_ID = #{article.queryParam.userId}
            </if>
            <if test="article.queryParam.flag != null and article.queryParam!= ''">
                and c.flag = #{article.queryParam.flag} and i.flag = #{article.queryParam.flag}
            </if>
        </where>
    </select>
</mapper>
