<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuyou.community.user.dao.UserMapper">

    <select id="getUserAvatars" resultType="com.fuyou.community.user.model.vo.AvatarVo">
        select id,USER_AVATAR userAvatar from USER
        <if test="avatarDto.params != null">
            where ID in
            <foreach collection="avatarDto.params" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="score" resultType="java.lang.Integer">
        select IFNULL(sum(SCORE),0)
        from ARTICLE_SCORE s
                 inner join ARTICLE_INFO i on i.ID = s.ARTICLE_ID
                 left join USER u on u.ID = i.USER_ID
        where u.ID = #{userId}
        <if test="month != null and month != ''">
            and s.CREATE_TIME like concat(#{month},'%')
        </if>
    </select>
</mapper>