<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个Dao/Mapper接口-->
<mapper namespace="com.fuyou.community.user.dao.UserLabelinfoMapper">
    <select id="getUserLabels" resultType="com.fuyou.community.sys.model.SysLabelinfo">
        SELECT sl.*
        FROM user_labelinfo ul
                 INNER JOIN sys_labelinfo sl ON sl.ID = ul.LABEL_ID
        where sl.flag = '0' and ul.USER_ID=#{userId}
    </select>
</mapper>